button
{
    border: 1px solid #f1f1f1;
    background-color: #4C4F40;
    color: #f1f1f1;
    font-size: 24px;
    border-radius: 12px;
    padding : 16px 40px;
    width: 20%;
    height: 10%;
}
button:hover
{
    border: 1px solid #4C4F40;
    color: #4C4F40;
    background-color: #f1f1f1;
    font-size: 24px;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}